@model RollerTest.WebUI.Models.ApplicationUser

<div class="dropdown profile-element">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">欢迎
                @Model.UserName.ToString()
                ！</strong>
        </span>
            </span>
    </a>
    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li>@Model.Email</li>
        <li>@Model.Roles</li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Login", "Account")">退出登录</a></li>
    </ul>*@
</div>